{% extends 'base.html' %}

{% block title %}
  Dashboard Monitoring Cuaca
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="d-flex justify-content-between align-items-center w-[90%] h-[11rem] mt-4 mx-auto">
    {% include 'content/cuaca.html' %}
    {% include 'content/aqi.html' %}
    {% include 'content/pm25.html' %}
    {% include 'content/tips.html' %}
  </div>
  <!-- Content -->

  <div class="d-flex justify-content-between align-items-center h-[23rem] w-[90%] mt-[1rem] mx-auto">
    <div class="border border-2 border-black rounded-1 h-[21rem] w-[62%]">Tren suhu</div>
    <div class="border border-2 border-black rounded-1 h-[21rem] w-[35%]">Prediksi kualitas udara</div>
  </div>

  <div class="d-flex justify-content-between align-items-center h-[23rem] w-[90%] mt-[1rem] mx-auto">
    <div class="border border-2 border-black rounded-1 h-[21rem] w-[62%]">map</div>
    <div class="border border-2 border-black rounded-1 h-[21rem] w-[35%]">Saran Aktivitas</div>
  </div>
{% endblock %}
