<div class="border border-2 border-black rounded-1 h-[10rem] w-[20rem]">  
  <div id="co" class="p-2 text-sm"></div>
</div>

<script>
  async function getco() {
    const res = await fetch("aqicn/tandes");
    const data = await res.json();

    let tips = "Nikmati hari Anda dengan aktivitas normal 👍";

    if (!data.error) {
      const aqi = data.aqi;

      if (aqi <= 50) {
        tips = "Kualitas udara baik";
      } else if (aqi <= 100) {
        tips = "Kualitas udara sedang";
      } else if (aqi <= 150) {
        tips = "Kualitas udara tidak sehat bagi kelompok sensitif";
      } else if (aqi <= 200) {
        tips = "Udara tidak sehat";
      } else {
        tips = "Udara berbahaya";
      }
    }

    document.getElementById("co").innerHTML = `
      
      ${tips}
    `;
  }

  getco();
  setInterval(getTips, 3600000); // update tiap 1 jam
</script>
