<div class="d-flex align-items-center bg-gray-100 rounded-2xl shadow-md border border-gray-300 p-4 w-80 h-40">
  <div>
    <h2 class="text-gray-700 text-base font-medium">Kualitas Udara (PM2.5)</h2>
    <div id="pm25" class="text-gray-700 text-base">Loading...</div>
  </div>
</div>

<script>
  async function getData() {
    const res = await fetch('aqicn/tandes')
    const data = await res.json()
  
    if (!data.error) {
      document.getElementById('pm25').innerText = data.pm25 ? data.pm25 + ' µg/m³' : 'N/A'
    } else {
      document.getElementById('pm25').innerText = 'Data tidak tersedia'
    }
  }
  
  getData()
  setInterval(getData, 3600000) // refresh tiap 1 jam
</script>

